* {
    font-family: okra, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body::-webkit-scrollbar{
    width:0px;
    background:transparent;
}
body::-webkit-scrollbar-thumb{
    width:0px;
    background:transparent;
} 

header {
    background-image:url('pexels-chan-walrus-958545.jpg') ;
    opacity: 0.;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 610px;
    /* opacity: 0.9; */
}
.nav{
    display: flex;
    /* background-color: bisque; */
}
.nav1{
    /* background-color: black; */
    flex: 1 65%;
    padding-left: 30px;
    padding-top: 20px;
    height: 50px;
    display: flex;
    /* align-items: center; */
}
.nav-bar{
    list-style-type: none;
    display: flex;
    /* background-color: aqua; */
    flex: 1 35%;
    justify-content: space-around;
    height: 50px;
    font-size: large;
    padding-top: 20px;
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 30vh; */
    /* background-color: black; */
}
.head h1{
    display: flex;
    justify-content: center;
    font-size: 14vh;
}
.head p{
    /* background-color: aquamarine; */
    padding: 0%;
    margin: 0%;
    font-size: 5vh;
    justify-content: center;
    align-items: center;

}
#i{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background: #ebeaea;
    display: flex;
    flex-direction: column;

}
.one{
    display: flex;
    /* justify-content: center; */
    /* flex: 1 90%; */
    height: 80px;
    
}

.heading {
    /* background-color: chocolate; */
    flex: 1 40%;
    display: flex;
    align-items: center;
    padding-left: 60px;
}
.select{
    /* background-color: blanchedalmond; */
    /* flex: 1 30%; */
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.select select{
    /* background-color: blue; */
    background: #ebeaea;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    /* display: flex; */
    text-align: center;
    
}
.two{
    display: flex;
    /* justify-content: center; */
    /* height: 200px; */
    justify-content: space-around;
    /* align-items: center; */
    /* display: flex; */
    /* justify-content: center; */
    /* flex: 1 75%; */
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 50%; */
    /* background-color:blueviolet ; */
}
/* .q h6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
} 
.q ul li{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items:start;
}  */
.list{
    /* background-color: aqua; */
    padding-left: 0%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    padding-left: 0px;


}
.two ul li{
    list-style: none;
    font-size: 2.1vh;
    /* display: flex; */
    /* align-items: start; */
    /* background-color: bisque; */
    /* display: flex;
    align-items: start; */
    /* width: 100%; */

}
.main2{
    padding-top: 10px;
    margin-top: 20px;
    /* background-color: blueviolet; */
    text-align: center;
    
}
.main2 h2{
    font-size: 6vh;
    /* background-color: bisque; */
}
.main2 p{
    /* background-color: aqua; */
    margin-top: 20px;
    font-size: 3.2vh;
    /* padding: 0px 100px 0px 100px; */
    margin-left: 220px;
    margin-right: 220px;
}
.buttons{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-evenly;
    /* align-items:end; */
    flex-wrap: wrap;
    margin: 100px;
}
.buttons h4{
    /* background-color: azure; */
    border: 0.4px solid rgb(237, 224, 224);
    border-radius: 8px;
    height: 60px;
    width: 300px;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    margin: 15px;
    box-shadow: 0px 0px 5px 0px rgb(173, 172, 172);
}
.buttons h4:hover{
    box-shadow: 0px 0px 7px 0px rgb(149, 145, 145);
}
.buttons h4 svg{
    /* display:; */
    align-items: end;
    justify-content: end;
    /* background-color: blue; */
    text-align: end;
    /* padding-left:70px; */
}
.para{
    /* background-color: bisque; */
    margin-left: 40px;
    margin-right: 40px;
}
.t{
    display: flex;
    flex-direction: column;
}
.g{
    display: flex;
    flex-direction: column;
    /* padding: 10px;
    margin: 10px; */
    /* background-color: aquamarine; */
    /* justify-content: space-around; */
    /* align-items: space-around; */
}
.g img{
    /* padding: 10px; */
    margin: 5px;
}
.icons{
    /* background-color:violet ; */
    /* display: flex; */
    padding: 5px;
}